@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
body {
    background-color: #f8f6eb;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    color:#909090;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;

}

div.clear {
    clear: both;
    float: none;
    height: 0;
    line-height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
header{
    margin-bottom:36px;
    color:#9d9d9d;
    font-size: 12px;
}
header .top_menu{
    background-color: #fcfcf7;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}
header ul.links{
    list-style: none;
    margin:0;
    padding: 0;
    display: inline-block;
    margin:8px 0 9px 0;
}
header ul.links li{
    display: inline-block;
    margin-right:40px;
}
header ul.links li a{color:#9d9d9d;}
header ul.links li a:hover{color:#eb5f60;text-decoration: none;}
header .cart-position{
    float: right;
    margin: 0;
    position: relative;
}
header .cart-position .heading{
    padding:3px 0 7px 10px;
    cursor: pointer;
}
header .cart-position .content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0eee4;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    clear: both;
    display: none;
    float: right;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 257px;
    z-index: 99999;
}
header .icon-basket{font-size: 18px;}
header #cart:hover .content{display: block;}
header #cart:hover .icon-down-open{color:#eb5f60;}
header .contacts_info{
    font-size: 16px;
}
header .logo{margin-bottom:38px;}
header .contacts_info .item{
    margin-bottom: 8px;
}
header .contacts_info .item span{
    font-weight: 700;
}
.search{
    float: right;
}
.search input {
    border:1px solid #e9e8dd;
    border-radius: 0;
    border-right: medium none;
    height:32px;
    margin: 0;
    max-width: 300px;
    padding: 6px 8px 6px 9px;
}
.search button{
    background: none repeat scroll 0 0 #93c567;
    color: #fff;
    float: right;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
    border:none;
}
.search .icon-search{font-size: 16px;}
#menu {
    background-color: #fa8268;
    line-height: 0;
    width: 100%;
    z-index: 23;
}
.sf-menu {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
ul.sf-menu > li > a {
    color: #fff;
    display: block;
    height: 52px;
    line-height: 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}
ul.sf-menu > li > a span {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 0 47px;
    vertical-align: middle;
}
